@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700");

.App {
  text-align: left;
  display: flex;
  flex-direction:column;  
  font-family:"Nunito Sans", Helvetica, sans-serif;
  height: 100vh;
}
.Gallery{
  flex:1;
}

body{
  font-family: "Nunito Sans", Helvetica, sans-serif;
  max-height: 100vh;
}

h1{
  font-size: 35pt;
  font-weight: 400;
  margin:0;
}

.contentWrapper {
  padding-top: 10px;
}

.colorLayout {
  background-color:orange;
}

.slickCarousellGrid{
  max-width: 100%;
  margin: 0 auto 200px auto;
  background-color: pink;
}