.headerNav{
    position: absolute;
    align-items: center;
    display: flex;
    background-color: white;
    box-shadow: 0 2px 2px darkGrey;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top:0;
    width: 100vw;
    height: 50px;
    z-index: 1;
    -webkit-touch-callout: none;
    user-select: none;
}

.logoTitle{
    position: relative;
    left: 50px;
    font-size: 24px;
    font-weight: 400;
}

.logout{
    font-weight: 400;
    position: absolute;
    right: 30px;
    opacity: 0.8;
}

.logout:hover{
    cursor: pointer;
    opacity:1;
    transition: 0.3s;

}