.containerSpacer{
    margin-top: 150px;
}

.homeHeader{
    position: relative;
    /* background-color: rgba(0,0,0,.20); */
    z-index:1;
    padding: 15px;
}

.homeHeaderWrapper{
    margin: 0 auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.homeHeaderTitle{
    font-size: 1.2em;
    color: white;
}

.homeHeaderButton{
    border-radius: 3px;
    border: 2px solid white;
    font-size: 12px;
    right: 20px;
    font-weight: 500;
    /* background-color: white; */
    right: 0;
    text-decoration: none;
    padding: 5px 12px 5px 12px;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    color: white;
    text-decoration: none;


}

.homeHeaderButton:hover{
    font-weight:500;
}

/* header*/
.homePageLanding {
    z-index:-1;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }

.homePageLanding video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
    width: auto;
    height: auto;
    
    /* Center the video */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}


.overlayHome {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 95vh;
    text-align: center;
    background-color: transparent;
    opacity: 0.95;
}

.heroTitle{
    color: white;
    font-size: 8vh;
    font-weight: 400;
    text-align:left;
    opacity: 1.0
}

.pick3{
    min-height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.home3Grid{
    padding: 20px;
}

.home3Grid > p {
    text-align: justify;
    font-size: 20px;
    line-height:24px;
    font-weight:500;
}

.pick3Img{
        width: 100%;
        display: flex;
        justify-content: center;
  }


.pick3Img > *, .home3Grid > h2{
    fill: #323232;
    color: #323232;
}

.pick3Img > *{
    width: 100px !important;
    height: 100px !important;
}

.home3Grid > h2{
    padding: 15px;
    text-align: center;
}


@media screen and (max-width: 375px) {
    .pick3Img > *{
        width: 50px;
        height: 50px;
    }
}

/* Footer */
.Footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    height: 300px;
    background-color:#001a33;
}

.emailTagline{
    font-weight: 600;
    font-size: 25px;
    color: blue;
    background-color:white;
}

.emailInputWrapper{
    border-radius: 2px;
}
.emailInput{
    border-radius: 3px 0px 0px 3px;
    width: 200px;
    max-width:80%;
    padding: 8px;
    color: black;
    border-bottom: 0;

}

.emailInput:focus {
    outline-width: none;
    border-bottom: 0;
}

.emailButton, .emailInput{
    font-size: 14px;
}

.emailButton{
    border-radius: 0px 3px 3px 0px;
    width: 100px;
    color: white;
    border: none;
    background-color: blue;
    padding: 8px;
}
