.Add{
  background-color: darkGrey;

  display: flex !important;
  flex-direction:column !important;
  align-items: center !important;
  justify-content: stretch !important;
  
  width: 100%;
  height: 215px !important;
}

.Add > svg {
    flex: 1 !important;
    width: 24px !important;
    height: 24px !important;
}

.grid-container{
    max-width: 1024px;
    margin: 10px auto 40px auto;
}

.photos, .highlightSlide {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch !important;
    padding: 0;
}

.colorCard {
    height: auto !important;
}
.highlightSlide{
    background-color: #f2f2f2;
}

.highlightSlide> img{
    max-height: 350px !important;
}

.colorSpan{
    position: relative;
    top: 40%;
    padding-left: 15px;
}

.colorSpan, .colorSpan>span{
    width: 100% !important;
    height: auto !important;
}

.cardTitleEvent{
    font-size: 3vw;
    color: white;
}

.cardTitleDate{
    font-size:0.90em;
    color: white;
}
.carousel{
    max-height: 5% !important;
}

img{
    height: 100%;
    width: 100%;
}

.noGrid, .fillerColo{
    width: 100%;
    height: 100%;
}

.gridMedia > img, .sliderMedia > img {
    object-fit: cover;
}

.glimpseGalleryError{
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.video{
    max-width: 100%;
}

.gridVideo, .sliderVideo{
    object-fit: fill;
}

@media screen and (max-width: 1024px) and (min-width: 675px){
    .cardTitleEvent{
        font-size: 4vw;
        color: white;
    }

    .home3Grid{
        width: calc(100vw/3);
    }
}

@media screen and (max-width: 675px){
    .cardTitleEvent{
        font-size: 5vw;
        color: white;
    }
}
@media screen and (min-width: 1024px) {
    .gridMedia, .gridVideo {
        width: calc(1024px/4) !important;
        height: calc(1024px/4) !important;
    } 

    .sliderMedia, .sliderVideo{
        width: calc(1024px/4) !important;
        height: calc(1024px/4) !important;
    }

    .eventContainer{
        width: calc(1024px/2) !important;
    }

    .home3Grid{
        width: calc(1024px/3) !important;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gridMedia, .gridVideo{
        /* height: calc(100%/4) !important; */
        width: calc(100vw/4);
        height: calc(100vw/4);
    }

    .sliderMedia>img, .sliderVideo{
        width: calc(100vw/2);
        height: calc(100vw/2);
    }

    .eventContainer{
        width: calc(100vw/3) !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 769px) {
  .gridMedia, .gridVideo{
        width: calc(100vw/3);
        height: calc(100vw/3);
  }

  .sliderMedia, .sliderVideo{
    width: calc(100vw/2);
    height: calc(100vw/2);
  }

    .eventContainer{
        width: calc(100vw/2) !important;
    }

    .home3Grid{
        width: 100vw;
    }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .gridMedia, .gridVideo {
        width: calc(100vw/3);
        height: calc(100vw/3);
    }

    .sliderMedia, .sliderVideo{
        width: calc(100vw);
        height: calc(100vw);
    }

    .eventContainer{
        width: calc(100vw) !important;
    }

    .home3Grid{
        width: 100vw;
    }
}

@media screen  and (max-width: 320px) {
    .gridMedia, .gridVideo{
        width: 100vw;
        height: 100vw;
    }

    .sliderMedia, .sliderVideo{
        width: 100vw;
        height: 100vw;
    }

    .home3Grid{
        width: 100vw;
    }
} 

.photos-div, video{
    flex-direction: column;
}

.cardColor{
    color: white;
    display: block;
    flex-grow: 1;
    position: relative;
    text-align: left;
}

.thumbs-wrapper, {
    display: none !important;
}

.slick-dots{
    display: 100%;
}

.slick-arrow{
    display: none !important;
}
.slider > .slide{
    max-height: 85vw !important;
}