.Add{
  background-color: darkGrey;

  display: flex !important;
  flex-direction:column !important;
  align-items: center !important;
  justify-content: stretch !important;
  
  width: 100%;
  height: 215px !important;
}

.Add > svg {
    flex: 1 !important;
    width: 24px !important;
    height: 24px !important;
}

.grid-container{
    max-width: 1024px;
    margin: 10px auto 40px auto;
}

.photos {
    display: flex;
    background-color: darkGrey;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch !important;
    padding: 0;
}

.photos img, .photos div {
    float: left;
    max-width: 100%;
    max-height: 100%;
}

.photos div.colorCard{
    height: auto !important;

}

.highlightSlide{
    background-color: #f2f2f2;
}

.highlightSlide> img{
    max-height: 350px !important;
}

.colorSpan{
    position: relative;
    top: 40%;
    padding-left: 15px;
}

.colorSpan, .colorSpan>span{
    width: 100% !important;
    height: auto !important;
}

.cardTitleEvent{
    font-size:1.2em;
    color: white;
}

.cardTitleDate{
    font-size:0.90em;
    color: white;
}

.videoContent{
    object-fit: cover !important;
    height: 100%;
    width: 100%;
}

.videoGrid{
    width: 100%;
    height: 100%;
}
.carousel{
    max-height: 5% !important;
}

img{
    height: 100%;
    width: 100%;
}

.noGrid{
    width: 100%;
    height: 100%;
}

.gridVideo{
    background-color: #333333;
    display: flex;
    align-items: center!important;
    height: 100%;
}


@media screen and (min-width: 1024px) {
 .gridMedia {
        width: calc(100%/4) !important;
        /* height: calc(100%/4)!important; */
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .gridMedia{
        /* height: calc(100%/4) !important; */
    }

    .photos > div {
        width: calc(100%/4) !important;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .gridMedia{
    width: calc(100%/2);
    /* height: calc(100%/2); */
  }

  .photos > div {
    width: calc(100%/2) !important;
  }
}

@media screen and (min-width: 321px) and (max-width: 480px) {
    .gridMedia {
        width: calc(100%/2);
    }

    .photos > div {
        width: calc(100%/2) !important;
    }
}

@media screen  and (max-width: 320px) {
    .gridMedia{
        width: 100%;
        height: 100%;
    }
} 

.photos-div{
    display: flex;
    flex-direction: column;
}


.colorSpan{
}
  

.cardColor{
    color: white;
    display: block;
    flex-grow: 1;
    position: relative;
    text-align: left;
}

.thumbs-wrapper, {
    display: none !important;
}

.slick-dots{
    display: 100%;
}

.slick-arrow{
    display: none !important;
}
.slider > .slide{
    max-height: 85vw !important;
}