.welcomeImage{
    height: 85vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: clip;
}

.eventsWelcome{
    color: white;
    font-size: 300%;
    font-weight: 500;
    width: 80%;
    text-align: center;
}

.Event{
    max-width: 1024px;
    margin: 10px auto 40px auto;
    padding: 20px;
}

.eventContainer{
    max-width: 300px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    height: 100%;
}

.eventTile{
    width: 100%;
    height: 300px;
}

.eventTileInfo{
    padding: 20px;
    width: 300px;
    height: 40px;
}

.eventTileTitle{
    font-size: 1.3em;
    font-weight: 400;
    margin: 10px 0 10px 10px;
}   

.eventTileTitle{
    padding: 5px;
}

.eventTileTitle > *{
    margin: 0;
}

.eventTitleTitleDetails{
    display: flex;
    justify-content: center;
}

.eventTitleTitleDetails > *{
    display: inline-block;
}

.eventTileTitle > h2{
    font-size: 1.2em;
    font-weight: 400;
}

.eventTitleTitleDetails> h2, h3{
    font-weight: 400 !important;
    font-size: 0.8em;
}

@media screen and (min-width: 1024px) {
    .eventContainer {
           max-width: calc(100%/3) !important;
           /* height: calc(100%/4)!important; */
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .eventContainer{
        max-width: calc(100%/2);
    /* height: calc(100%/2); */
    }

}
   
@media screen and (max-width: 480px) {
    .eventContainer {
        max-width: 100%;
    }
}