@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:400,400i,600,700");

.App {
  text-align: center;
  display: flex;
  flex-direction:column;  
  font-family:"Nunito Sans", Helvetica, sans-serif;
}

.Gallery{
  flex:1;
}

body{
  font-family: "Nunito Sans", Helvetica, sans-serif;
  max-height: 100vh;
}

h1{
  font-size: 35pt;
  font-weight: 400;
  margin:0;
}

