.text{
  font-size: 20pt;
}

.Gallery{
  overflow:scroll;
  max-height:100%;
  height:100%;
  padding: 0 10px 10px 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1100px;
}

@media only screen and (max-width:768px){
  .Gallery{
    padding: 0;
  }
}

.socialShare{
  width: 35px;
  background-color: transparent;
  border:none;
}

.downloadBttn{
  color: white;
}

.imgCaption{
  display: block;
  /*flex-align: top;*/
  top: -4px;
  padding: 0 5px 0 5px;
  position: relative;
  text-align: left;
  margin-bottom: 10px;
}

.imgCaptionTitle{
  font-size: 0.85em;
}

.imgCaption> *{
  /*align-self: flex-start;*/
  width: 100%;
  display: inline;
}

.imgCaptionTime{
  text-align: left;
  font-size: 0.70em;
  color: grey;
}

.photoTools > *{
  display: inline-block;
}

.footer-count{
  display: flex;
  flex-align: center;
}

.footer-count > *{
  align-self: center;
}

.footer-count > button > *{
  align-self: center;
}
