.header-tabs{
  margin:0;
  padding:0;
}

.header-tabs>li{
  display: inline-block;
  padding: 10px 5% 10px 5%;
}

.title{
  text-align: left;
  font-size: 32px;
  font-weight: 700;
}

.notification-wrapper-position{
  position: absolute;
  top: 10px;
  right:20px;
}

.notification-wrapper{
  position:relative;
  right:0;
  text-align:right;
}

.notificationNumber{
  position:absolute;
  color: white;
  background-color: red;
  font-size: 0.7em;
  padding: 1.5px;
  border-radius: 2px;
  top: -4px;
  right:-1px;
}
@media only screen and (max-width:768px){
  .title{
    font-size: 28px;
  }

  .header-tabs{
    font-size: 14px;
  }
}

.header{
  padding: 10px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.notificationBox{
  right: -5px;
  max-width: 375px;
  background-color: #f2f2f2;
  padding: 3px;
  box-shadow: grey 0 1px 6px;
}
.notificationItem{
  background-color:white;
  margin: 4px;
}

