
@media (max-width : 1000px){
    .pageEventTitle{
      padding: 15px;
    }
}

.pageEventTitle{
  position: relative;
  top: 15%;
  padding: 20px;
}

.pageEventTitle > h1{
  font-size: 1.7em;
  font-weight: 400;
}

.pageEventDetails > h2{
  font-size: 1.1em;
  font-weight: 400;
}
.eventTitle{
  max-width: 1024px;
  margin: 0px auto;
}

.eventTitle > *{
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.eventTitleDetails > *{
  display: inline-block;
  margin: 0;

}

.eventTitleDetails{
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 0;
}

.dot {
  border-radius: 50%;
  display: inline-block;
  height: 4px;
  width: 4px;
  background-color: white;
  margin: 5px;
}

.eventBanner{
  height: 150px;
  color: white;
  background-color: black;
  opacity: 0.85;
  background-position:0 35%;
  display: relative;
  top: 30%;
  margin-bottom: 60px;
}


/****** Filters ********/
.Filters{
  z-index:3;
  position: relative;
}
.filter{
  width: fit-content;
  color: white;
  font-size: 1.1em;
  border-radius: 18px;
  padding: 4px 10px 4px 10px;
  margin: 10px;
}