@media all and (max-width: 674px) {
    .wordsToLiveByWrapper{
        display: none;
    }
}

@media all and (max-width: 400px){
    .signUpWrapper, .loginWrapper{
        box-shadow: none;
        width: 100vw !important;
        height: 100vh !important;
        position: relative;
        padding: 40px;
    }

    .Login{
        width: 100vw;
        height: 100vh;
    }

    .crownMobile {
        display:block !important;
        margin: auto
    }

    .eventImage{
       display: flex;
       justify-content: center;
    }

    .signUpLink{
        width: auto;
    }
}

@media all and (min-width: 400px){
    .loginWrapper, .signUpWrapper{
        box-shadow: 2px 2px 10px grey;
    }

    .crownMobile {
        display:none !important;
    }
}
.Login {
}

.Login form {
    margin: 0 auto;
    max-width: 275px;
}
 
.Login, .SignUp {
    background-color: #F8B800;
    background-image: linear-gradient(to right, #F8B800, #FCCE00);
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.signUpWrapper, .loginWrapper{
    background-color: white;
    border-radius: 3px;
    width: 325px;
    position: relative;
}

.signUpWrapper{
    padding: 20px;
}

.loginWrapper{
    height: 450px;
}

.logoTitleLogin{
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
.loginWrapper > form {
    overflow: scroll;
    margin: auto;
    padding:0;
}
.signInTitle{
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
    margin-bottom: -10px;
}

.formGroup{
    margin: 20px 0px 20px 0px;
}

.signUpLink{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 85%;
}

input {
    font-size: 1em;
    width: 100%;
    padding: 2px;
    margin-bottom: 10px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #f2f2f2;
}

input:focus{
    outline-width: 0;
    border-bottom: 2px solid #188fff;
    margin-bottom: 9px;
}

.formGroup > input, .btnLogin, select{
    border-radius: 4px;
    outline: none;
}


.btnLogin:active {
    color:#f2f2f2;

}
select, .btnLogin{
    font-weight: 400;
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

select{
    margin-top: 25px;
}

.btnLogin{
    border: none;
    background-color: #188fff;
    color: white;
    font-size: 500;
}

.wordsToLiveByWrapper{
    position: relative;
    margin: 0;
    width: 40%;
    padding: 10%;
}

.wordsToLiveBy, .eventImage > svg{
    color: #070250;
    fill: #070250;
}

.wordsToLiveBy{
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.errorMsg {
    color: #f24646;
}

.eventImage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.eventImage > svg{
    padding-top: 25px;
    width: 35%;
}
