@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 0 auto;
      max-width: 250px;
    }
}
  @media all and (max-width: 674px) {
    .wordsToLiveByWrapper{
        display: none;
    }
  }

.Login, .SignUp {
    background-color: #F8B800;
    background-image: linear-gradient(to right, #F8B800, #FCCE00);
    height: 100%;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;     
}

.signUpWrapper, .loginWrapper{
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 10px grey;
    width: 325px;
    position: relative;
}
.signUpWrapper{
    padding: 20px;
}

.loginWrapper{
    height: 450px;
}

.logoTitleLogin{
    margin-top: 40px;
    text-align: center;
    width: 100%;
}
.loginWrapper > form {
    overflow: scroll;
    margin: auto;
    padding:0;
}
.signInTitle{
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    margin-bottom: -10px;
}

.formGroup{
    margin: 10px 0px 20px 0px;
}

.signUpLink{
    text-align: center;
    position: absolute;
    bottom: 10px;
    width: 85%;
}

input {
    font-size: 1em;
    width: 90%;
    padding: 2px;
    margin-bottom: 10px;
}

.formGroup > input, .btnLogin, select{
    border-radius: 4px;
    outline: none;
}

.formGroup > input{
    border: 1px solid lightGrey;
}

.btnLogin:active {
    color:#f2f2f2;

}
select, .btnLogin{
    font-weight: 400;
    width: 100%;
    font-size: 1em;
    padding: 10px;
}

select{
    margin-top: 25px;
}

.btnLogin{
    border: none;
    background-color: #1BACEB;
    color: white;
    font-size: 500;
}

.wordsToLiveByWrapper{
    position: relative;
    margin: 0;
    width: 40%;
    padding: 10%;
}

.wordsToLiveBy, .eventImage > svg{
    color: #070250;
    fill: #070250;
}

.wordsToLiveBy{
    margin: 0;
    font-size: 1.5em;
    font-weight: 400;
}

.eventImage{
    width: 100%;
    display: flex;
    justify-content: center;
}

.eventImage > svg{
    padding-top: 25px;
    width: 35%;
}
